# Explaining how to use Databento

This is a comprehensive example of how one can use Databento to create a dataset, we will get into the details of each parameters after

In [5]:
import databento as db


client = db.Historical('db-AWYmTwQ9XYrEjcwMMdAB9gAKc4u8a')

# Get 10 levels of ES lead month
data = client.timeseries.get_range(
    dataset='GLBX.MDP3',
    schema='ohlcv-1s',
    start="2023-12-05T10:30",
    end="2023-12-05T19:30",
    symbols=['ES.n.0'],
    stype_in='continuous',
)
df = data.to_df()

/var/folders/57/_nkrw5g16dsdmygf08scq6b00000gn/T/ipykernel_72860/1904554057.py:7: BentoDeprecationWarning: This request relies on the forward-fill behavior of the `end` parameter that will change soon. See: https://to.dbn.to/api-change-2024-03-27
  data = client.timeseries.get_range(

In [6]:
df.head()

,rtype,publisher_id,instrument_id,open,high,low,close,volume,symbol
ts_event,,,,,,,,,
2023-12-05 10:30:00+00:00,32,1,314863,4564.00,4564.00,4564.00,4564.00,22,ES.n.0
2023-12-05 10:30:02+00:00,32,1,314863,4563.75,4563.75,4563.75,4563.75,19,ES.n.0
2023-12-05 10:30:04+00:00,32,1,314863,4563.75,4563.75,4563.75,4563.75,13,ES.n.0
2023-12-05 10:30:06+00:00,32,1,314863,4563.75,4563.75,4563.50,4563.50,29,ES.n.0
2023-12-05 10:30:10+00:00,32,1,314863,4563.50,4563.50,4563.50,4563.50,16,ES.n.0

In [7]:
import pandas as pd
df.index = pd.to_datetime(df.index)
df.head()

,rtype,publisher_id,instrument_id,open,high,low,close,volume,symbol
ts_event,,,,,,,,,
2023-12-05 10:30:00+00:00,32,1,314863,4564.00,4564.00,4564.00,4564.00,22,ES.n.0
2023-12-05 10:30:02+00:00,32,1,314863,4563.75,4563.75,4563.75,4563.75,19,ES.n.0
2023-12-05 10:30:04+00:00,32,1,314863,4563.75,4563.75,4563.75,4563.75,13,ES.n.0
2023-12-05 10:30:06+00:00,32,1,314863,4563.75,4563.75,4563.50,4563.50,29,ES.n.0
2023-12-05 10:30:10+00:00,32,1,314863,4563.50,4563.50,4563.50,4563.50,16,ES.n.0

In [36]:
import pandas as pd
df1 = pd.read_csv('ES.N.0.csv').values.flatten()
#modify it to make it just one dimension

print(df1)

[4564.   4563.75 4563.75 ... 4573.25 4573.25 4573.25]

In [28]:
#save df.close to csv
#df.to_csv('ES.n.0.csv', columns = ['close'], index = False)

In [29]:
df.describe()

,rtype,publisher_id,instrument_id,open,high,low,close,volume
count,23345.0,23345.0,23345.0,23345.000000,23345.000000,23345.000000,23345.000000,23345.000000
mean,32.0,1.0,314863.0,4568.425991,4568.500300,4568.348897,4568.426141,55.659499
std,0.0,0.0,0.0,6.942058,6.958712,6.918368,6.938052,90.519000
min,32.0,1.0,314863.0,4555.500000,4555.500000,4555.500000,4555.500000,1.000000
25%,32.0,1.0,314863.0,4562.250000,4562.250000,4562.000000,4562.250000,5.000000
50%,32.0,1.0,314863.0,4570.000000,4570.250000,4570.000000,4570.000000,27.000000
75%,32.0,1.0,314863.0,4573.500000,4573.500000,4573.250000,4573.500000,74.000000
max,32.0,1.0,314863.0,4585.500000,4585.500000,4585.250000,4585.500000,3484.000000

- The client is a simple wrapper around the Databento API, it is used to create, update and delete datasets

- We call db.Historical because we are not interested in streaming live data, but rather in historical data
  
- Once the client is initialized, we can call different methods, with parameters to create a dataset.

## Let's explore the parameters of this client

### Schemas

In [4]:
schemas = client.metadata.list_schemas(dataset="GLBX.MDP3")
print(schemas)

['mbo', 'mbp-1', 'mbp-10', 'tbbo', 'trades', 'ohlcv-1s', 'ohlcv-1m', 'ohlcv-1h', 'ohlcv-1d', 'definition', 'statistics']

- Here, we see that if we want to use the data from CME Globex (leading exchange for futures and options), the schemas at our disposals are the one printed.
- what is a schema ? https://docs.databento.com/knowledge-base/new-users/market-data-schemas. We will mainly use OHLCV schemas for our research.

### start and end

Quite self-explanatory, the start and end date of the data we want to retrieve. The format is "YYYY-MM-DDTHH:MM:SSZ"

### finding all the available datasets

In [7]:
datasets = client.metadata.list_datasets()
print(datasets)

['DBEQ.BASIC', 'GLBX.MDP3', 'IFEU.IMPACT', 'NDEX.IMPACT', 'OPRA.PILLAR', 'XNAS.ITCH']

### FInding the available range for a dataset

In [6]:
available_range = client.metadata.get_dataset_range(dataset="GLBX.MDP3")
print(available_range)

{'start_date': '2017-05-21', 'end_date': '2024-02-18'}